<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.core.database">

    <application>
        <!-- Content Provider for Token Balance -->
        <provider
            android:name=".provider.TokenBalanceContentProvider"
            android:authorities="com.walletmanager.tokenbalance.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />

        <!-- Content Provider for Token Metadata -->
        <provider
            android:name=".provider.TokenMetadataContentProvider"
            android:authorities="com.walletmanager.tokenmetadata.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>

</manifest>